{% extends "series/base.html" %}

{% block content %}

<h1>Top Korean Series With Popularity</h1>

<a href="{% url 'MovieCreateView' %}" style="color: red; margin-left: 10px">Add by django form</a>

    {% if movies %}

        <ul style="margin-top: 20px">
            {% for movie in movies %}

                <li>
                  <a href="{% url 'MovieDetailView' movie.id %}">{{ movie.movie_name }}</a>
                  ({{ movie.released_year }}) - <i>{{ movie.voteup }} Vote{{movie.voteup|pluralize}}</i>
                </li>

            {% endfor %}
        </ul>

    {% else %}

    <p>No movie is available.</p>

        {% endif %}

    {% endblock %}
